@import '@/styles/variables.scss';

.wrapper {
  max-width: 500px;
  position: relative;
  box-sizing: border-box;
  background: $bg-color-secondary;
  color: $text-color-primary;
  padding: 19px 0px 19px 20px;

  border-radius: 5px;
  margin-bottom: 10px;

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .error {
    color: $controls-color-text;
    font-size: 10px;
    position: absolute;
    top: 5px;
    left: 20px;
  }

  input {
    width: 100%;
  }
}
