@use 'fonts' as *;

$primary-color: #141024;
$secondary-color: #ffffff;
$tertiary-color: #dddce0;
$accent-color: #d52027;
$darck-accent-color: #7e0411;
$light-gray-color: #ececed;

$font-default: 'Jost', sans-serif;
$shadow-default: #0000001a;

$text-color-primary: $primary-color;
$text-color-secondary: $secondary-color;
$text-color-tertiary: #595664;
$text-color-accent: $accent-color;

$bg-color-primary: $secondary-color;
$bg-color-secondary: #f9f9f9;
$bg-color-tertiary: $primary-color;
$bg-color-quaternary: $tertiary-color;
$bg-color-accent: $accent-color;
$bg-color-gradient: linear-gradient(#ffffff82, #ffffff82, #ffffffd9);

$border-color-primary: $accent-color;

$controls-bg-primary: $accent-color;
$controls-bg-primary-hover: darken($accent-color, 5%);
$controls-bg-secondary: $primary-color;
$controls-bg-secondary-hover: lighten($primary-color, 5%);
$controls-bg-tertiary: $secondary-color;
$controls-bg-scrollbar-color: $light-gray-color;
$controls-color-primary: $secondary-color;
$controls-color-secondary: $secondary-color;
$controls-color-text: $accent-color;
$controls-color-error: $accent-color;
$controls-color-input-primary: $primary-color;
