@use '@/styles/variables.scss' as *;

.course {
  background-color: $bg-color-accent;
  background-image: url('./images/percent.png');
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto;
  color: $text-color-secondary;
  padding: 87px 0;

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 55px;
    gap: 64px;

    .text {
      margin-top: 20px;
      flex: 1 0 300px;

      .title {
        font-size: 36px;
        font-weight: 600;
        line-height: 1.4;
      }

      .description {
        font-size: 20px;
        margin-top: 20px;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      flex: 0 1 500px;
      gap: 10px;
      max-width: 500px;

      .buttonMain {
        padding: 19px 0;
      }
    }
  }
}

@media (max-width: 1024px) {
  .course {
    padding: 40px 0;

    .wrapper {
      align-items: center;
      justify-content: center;
      margin: 40px auto 0px;
      padding: 0 30px;
      gap: 20px;

      .text {
        margin-top: 0;
        flex: 1 0 300px;
      }

      .form {
        flex: 0 1 500px;
      }
    }
  }
}

@media (max-width: 768px) {
  .course {
    background-image: none;

    .wrapper {
      gap: 10px;
      padding: 0 10px;

      .text {
        margin: 40px 0px;

        .title {
          font-size: 30px;
        }

        .description {
          font-size: 16px;
        }
      }
    }
  }
}
