@use '@/styles/variables.scss' as *;

.benefits {
  background-color: $bg-color-secondary;
  padding: 100px 0;

  .wrapper {
    .title {
      font-size: 50px;
      font-weight: 600;
    }
    .items {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 40px;
      margin-top: 60px;
    }
  }
}

@media (max-width: 1200px) {
  .benefits {
    .wrapper {
      .title {
        text-align: center;
      }
    }
  }
}
